<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="All Test Suite">
    <groups>
        <run>
            <include name="ErrorHandling"/>
        </run>
    </groups>
    <listeners>
        <listener class-name="shwetaslearning.TestComponents.Listeners"/>
    </listeners>

    <test thread-count="5" name="Submit Order Test">
        <classes>
            <class name="shwetaslearning.tests.SubmitOrderTest"/>
        </classes>
    </test>
    <test thread-count="5" name="Error Validation Test">
        <classes>
            <class name="shwetaslearning.tests.ErrorValidationsTest"/>
        </classes>
    </test>
</suite>